@import '../../../sass/mixins';

.container {
  display: block;
  min-height: 100%;
  min-width: 100%;

  .navBar {
    nav {
      height: 4rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: get-color(nav-background);
      color: get-color(primary-background);

      .brandIcon {
        margin: 0 10px 0 1rem;
        font-size: 35px;
        font-weight: 800;
        color: get-color(brand);
      }

      .brandTitle {
        font-size: 24px;
      }
      .userGreeting{
        font-weight: 500;
      }

      .logoutButton{
        @include rounded--button(brand, primary-background,null,normal);
        padding: 7px 12px;
        margin: 0 0 0 1rem;
      }
      .buttonsWrapper {
        margin: 0 1rem 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }

  .content {
    display: flex;
    min-width: 100%;
    min-height: 100%;
  }
}

