@import '../../../sass/mixins';

.overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: get-color(box-shadow-primary);
  z-index: 800;

}

.container {
  display: flex;
  z-index: 999;
}

.activeModal {
  overflow: hidden;
}
