@import-normalize ; /* bring in normalize.css styles */
@import './sass/mixins';

html, body {
  @extend %hard-reset;
  font-family: $primary-font;
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: get-color(primary-background);
}

#root{
  width: 100%;
  height: 100%;
  display: block;
}
