@import '../../../sass/mixins';

.container {
  width: 100%;
  padding: 2rem 5rem;

  h2 {
    font-weight: 800;
    font-size: 2rem;
  }

  .buttonsWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .addButton {
      font-size: 14px;
      font-weight: 500;

      &:focus {
        outline: none;
      }
    }
  }
}
