.Table__pagination {
  display: flex;
  justify-content: flex-end;
  padding: 20px 10px;
}

.Table__itemCount {
  align-self: center;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  margin: 0 auto 0 0;
}

.Table__nextPageWrapper {
  display: flex;
  flex-direction: row;
}
.Table__previousPageWrapper {
  display: flex;
  flex-direction: row;
}
.Table__paginationButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #E9ECF0;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0;
  outline: none;
  cursor: pointer;
  margin: 0 2px;
}
/*.Table__paginationButton:disabled {*/
/*  background-color: #F0F3F6;*/
/*  border: none;*/
/*}*/

.Table__visiblePagesWrapper {
  height: 30px;
  margin: 0 3px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #F0F3F6;
  /*overflow: hidden;*/
  position: relative;
}
.Table__pageButton {
  padding: 0;
  min-width: 30px;
  height: 100%;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  font-family: Avenir, monospace;
  color: #8C9BA5;
  text-align: center;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  outline: none;
  cursor: pointer;
}
.Table__hamburguerButton {
  padding: 0;
  min-width: 30px;
  height: 100%;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  font-family: Avenir, monospace;
  color: #8C9BA5;
  text-align: center;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  outline: none;
  cursor: pointer;
  position: relative;
}

.Table__pageButton--active {
  background-color: #FFFF !important;
  border: 1px solid #E5E5E5;
}
.Table__pageButton--active:first-child  {
  border-radius: 3px 0 0 3px;
}
.Table__pageButton--active:nth-child(5)  {
  border-radius: 0 3px 3px 0;
}

.Table_popUp {
  position: absolute;
  bottom: 33px;
  right: -3px;
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: flex-end;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  overflow: hidden;
}

.Table__pageInput{
  outline: none;
  height: 100%;
  width: 100%;
  border: none;
  font-family: Avenir, monospace;
  color: #8C9BA5;
  text-align: center;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
}
.Table__pageInput:focus{
  outline: none;
}
