.ReactTable {
  font-family: Avenir, monospace;
  border: none;
}

.ReactTable .rt-tbody, .ReactTable .rt-table {
  overflow: unset;
}

.ReactTable .rt-thead.-header {
  box-shadow: none !important;
}

.ReactTable .rt-tr {
  align-items: center;
}

.rt-tr-group {
  border-bottom: none !important;
  cursor: pointer;
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-tbody .rt-td {
  border-right: none !important;
  align-items: center;
}


.default-table {
  font-size: 15px !important;
  text-align: left !important;

  .rt-tr-group {
    height: 52px;
  }

  .ReactTable.-striped .rt-tr.-odd {
    background-color: #F0F3F6 !important;
  }

  .ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    background-color: #d2d5d8 !important;
  }

  .rt-thead .rt-tr {
    text-align: left !important;
    font-weight: 800;
    height: 52px;
  }
}

.custom-row-table {
  margin: 1rem 0 0 0;
  font-size: 14px !important;
  font-weight: 500;
  text-align: center !important;

  .rt-tr-group {
    height: 70px;
    border-radius: 5px;
    border: 1px solid #DFDFDF !important;
    margin: 5px 0;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.07);
  }
}

.days-ago-tag {
  display: inline-block;
  width: 2.2rem;
  height: 1.5rem;
  border-radius: 5px;
  padding: 0.2rem;
}

.red-tag {
  background-color: rgba(245, 95, 68, 0.3);
}
.yellow-tag {
  background: rgba(255, 188, 0, 0.3);
}
.green-tag {
  background: rgba(128, 203, 196, 0.3);
}


.dropdown-cell {
  overflow: unset !important;
}







