@import "variables";

%hard-reset{
  *,
  *::before,
  *::after{box-sizing:border-box;}
  a{text-decoration:none; color:inherit; cursor:pointer;}
  button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
  figure{margin:0;}
  input::-moz-focus-inner {border:0; padding:0; margin:0;}
  ul, ol, dd{margin:0; padding:0; list-style:none;}
  h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
  p{margin:0;}
  cite {font-style:normal;}
  fieldset{border-width:0; padding:0; margin:0;}
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: black;
    -webkit-box-shadow: inset 0 0 0 1000px get-color(primary-background);
    transition: background-color 5000s ease-in-out 0s;
  }
}

%nav-section-title {
  font-family: $primary-font;
  font-weight: 500;
  font-size: 20px;
  color: get-color(text-primary);
}

//Buttons Styles
@mixin rounded--button($background: primary-background,$text-color:input-text,$border-color:null, $font-weight: 500) {
  color: get-color($text-color);
  font-family: $primary-font;
  font-weight: $font-weight;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: get-color($background);
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0 21px;
  line-height: normal;
  @if $border-color != null {
    border: 1px solid get-color($border-color);
  }
  &:focus {
    outline: none;
  }
}

@mixin rounded-input($background: primary-background,$border-color: grey-border, $color: black, $font-weight: normal) {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: $font-weight;
  color: $color;
  background-color: get-color($background);
  outline: none;
  border: 1px solid get-color($border-color);
  border-radius: 3px;
  padding: 6px 0 6px 12px;
  height: 33px;
  width: 100%;
  &:focus {
    outline: none;
  }
}
%invalid-text-rounded-input{
  border-color: get-color(error) !important;
  color: get-color(error) !important;
  box-shadow: 0 0 2px get-color(error) !important;
}
