$colors: (
        primary-background: #FFFFFF,
        secondary-background: #F0F3F6,
        nav-background: #000,
        box-shadow-primary: rgba(0, 0, 0, 0.25),
        subltle-yellow: rgba(255, 188, 0, 0.2),
        error: #F55F44,
        success: #ADC851,
        alert: #F4C76F,
        text-primary: #152935,
        text-secondary: #333459,
        primary-blue: #5062FF,
        subtle-blue: rgba(80, 98, 255, 0.1),
        active-nav-link: rgba(223, 227, 230, 0.4),
        empty-field: rgba(140, 155, 165, 0.5),
        input-text: #8C9BA5,
        input-background: #F5F7FA,
        grey-border: #E5E5E5,
        brand: #da2c56,
);

@function get-color($color-name) {
  @return map-get($colors, $color-name);
}

// FONTS
$primary-font: 'Avenir', monospace;
