@import '../../../sass/mixins';

.container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sloganWrapper {
    font-size: 42px;
    font-weight: 500;
    line-height: 74px;
    color: get-color(text-primary);
    width: 41rem;
    margin: 0 0 3rem 0;
    span{
      border-bottom: 5px solid get-color(brand);
    }
  }

  .formContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
  }

  .inputHelper {
    align-self: flex-end;
    color: get-color(error);
    font-size: 12px;
    margin: 10px 0 0 0;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
      -webkit-text-fill-color: black;
      -webkit-box-shadow: inset 0 0 0 1000px get-color(input-background) !important;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  .inputField {
    width: 14rem;
    height: 4rem;
    font-family: $primary-font;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: get-color(input-text);
    background-color: get-color(input-background);

    &:focus {
      outline: none;
    }
  }
  .invalid{
    color: get-color(error);
    border: 1px solid get-color(error);
    box-shadow: 0 0 2px get-color(error);
  }

  .loginError {
    display: flex;
    margin: 2rem auto;
    justify-self: center;
    align-self: center;
    background-color: get-color(subltle-yellow);
    padding: 8px 1rem;
    border-radius: 5px;

    span {
      color: get-color(alert);
    }

    svg {
      margin: 0 0 0 0.5rem;
      cursor: pointer;
    }
  }

  .loginButton {
    cursor: pointer;
    width: 160px;
    height: 66px;
    font-family: $primary-font;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: get-color(brand);
    color: get-color(primary-background);
    outline: none;

    &:focus {
      outline: none;
    }
  }
}
