@import '../../../sass/mixins';

.formWrapper {
  max-width: 511px;
  font-family: $primary-font;
  background-color: get-color(primary-background);
  border-radius: 5px;
  box-shadow: 0 4px 10px get-color(box-shadow-primary);

  h1 {
    display: block;
    border-bottom: 1px solid get-color(grey-border);
    margin: 0;
    padding: 1.5rem 0 1rem 0;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
  }

  .formGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid get-color(grey-border);
    padding: 2rem;
  }

  .submitButton {
    @include rounded--button(primary-background, primary-blue);
    width: 100%;
    padding: 1rem 0;
    font-weight: normal;
    justify-content: center;
    border-radius: 10px;
    svg {
      margin: 0 0.6rem 0 0;
    }

    &:disabled {
      color: get-color(input-text);
    }
  }
}
