@import '../../../sass/mixins';

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
  width: 45%;

  label {
    margin-bottom: 5px;
    font-size: 14px;
    color: get-color(input-text);
  }
}
