@import '../../../sass/mixins';

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
  width: 45%;

  label {
    margin-bottom: 5px;
    font-size: 14px;
    color: get-color(input-text);
  }

  input {
    @include rounded-input();

    &:focus {
      border-color: get-color(primary-blue);
      box-shadow: 0 0 2px get-color(primary-blue);
    }
  }

  span {
    margin: 10px 0 0 0;
    color: get-color(error);
    font-size: 12px;
  }
}

.invalid {
  input {
    @extend %invalid-text-rounded-input;
  }
}
